* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --cyan: hsl(180, 66%, 49%);
  --light-cyan: #aae1e1;
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --light-gray: #f0f1f6;
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
  --app-height: 100%;
}

html {
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
  height: var(--app-height);
}

body {
  width: 100%;
  height: var(--app-height);
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    to bottom,
    white 0%,
    white 50%,
    var(--very-dark-violet) 50%,
    var(--very-dark-violet) 100%
  );
  color: var(--very-dark-blue);
  overflow-x: hidden;
}

@media (min-width: 750px) {
  html {
    font-size: 18px;
  }
}
